:root {
    --color1: #002b55;
    --color2: #0381FB;
    --mywhite: #fdfdfd;
    --mygrey: #f3f3f3;
    --lightblack: #222222;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background-color: var(--mywhite);
    color: var(--lightblack);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--mywhite);
    padding: 20px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

header img {
    width: 350px;
    margin: 0 0 0 25px;
}

header a.donate {
    border: 1.0px solid var(--color1);
    color: var(--color1);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.2s color ease-in, 0.2s border-color ease-in;
    margin: 0 25px 0 0;
}

header a.donate:hover {
    border-color: var(--color2);
    color: var(--color2);
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5.0rem;
}

section {
    height: 100vh;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#intro p {
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 25px;
}

#section1 {
    z-index: 6;
}

#section2 {
    z-index: 4;
}

#section3 {
    z-index: 3;
}

#section4 {
    z-index: 2;
}

#donate {
    min-height: 100vh;
    height: 100%;
    z-index: 1;
}

section.light,
section.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

section.dark {
    background-color: var(--mygrey);
}

section.light h1 {
    color: var(--color1);
}

section.dark h1 {
    color: var(--color2);
    text-align: right;
}

.big-number {
    position: relative;
    font-size: 30vw;
    font-weight: 800;
    z-index: 0;
    align-self: flex-start;
}

section.light .big-number {
    color: var(--mygrey);
}

section.dark .big-number {
    color: var(--mywhite);
}

.main-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
}

.main-container img {
    width: 100%;
    max-width: 300px;
}

.text-container {
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

section.light .text-container {
    padding: 0 0 0 50px;
}

section.dark .text-container {
    padding: 0 50px 0 0;
}

p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.3;
}

p strong {
    font-weight: 500;
}

section.dark p {
    text-align: right;
}

#bigno1 {
    top: -30%;
}

#bigno2,
#bigno3,
#bigno4 {
    top: -10%;
}

#bigno1 {
    opacity: 0;
}

#bigno3 {
    font-size: 15vw;
}

#trigger1top {
    position: relative;
    top: 80vh;
}

#trigger1mid {
    top: 150vh;
    position: absolute;
}

#trigger2top {
    position: relative;
    top: 300vh;
}

#trigger2mid {
    top: 350vh;
    position: absolute;
}

#trigger3top {
    position: relative;
    top: 500vh;
}

#trigger3mid {
    position: relative;
    top: 550vh;
}

#trigger4top {
    position: relative;
    top: 700vh;
}

#trigger4mid {
    position: relative;
    top: 750vh;
}

#animate2image,
#animate4image {
    position: relative;
    left: 100%;
    transform: rotate(120deg);
    opacity: 0;
}

#main2,
#main4 {
    transform: translateX(-25px);
    opacity: 0;
}

#animate1image,
#animate3image {
    position: relative;
    left: -100%;
    transform: rotate(120deg);
    opacity: 0;
}

#main1,
#main3 {
    transform: translateX(25px);
    opacity: 0;
}

#donate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#donate h1 {
    color: var(--color1);
    text-align: center;
    box-sizing: border-box;
    padding: 0 25px;
}

#donate p {
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 35px;
}

.btn-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 0 25px;
}

.btn-container a {
    border: 1.0px solid var(--color1);
    color: var(--color1);
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 12px 20px;
    width: 220px;
    transition: 0.2s color ease-in, 0.2s border-color ease-in;
    margin: 0 20px;
}

.btn-container a:hover {
    border-color: var(--color2);
    color: var(--color2);
}

@media all and (max-height: 850px) {
    h1 {
        font-size: 3.0rem;
    }
    p {
        font-size: 1.3rem;
        max-width: 600px;
        line-height: 1.4;
    }
    .btn-container a {
        font-size: 1.25rem;
    }
}

@media all and (max-height: 750px) {
    h1 {
        margin: 22px 0;
    }
}

@media all and (max-width: 700px) {
    .main-container img {
        max-width: 200px;
    }
}

@media all and (max-height: 700px) {
    .main-container img {
        max-width: 150px;
    }
}

@media all and (max-width: 600px) {
    header img {
        width: 250px;
        margin: 0;
    }
    header a.donate {
        margin: 0;
    }
}

@media all and (max-width: 550px) {
    .main-container {
        flex-flow: column nowrap;
    }
    section.light,
    section.dark {
        padding-top: 72px;
    }
    section.light .text-container,
    section.dark .text-container {
        order: 2;
        padding: 0;
    }
    section.light h1,
    section.dark h1 {
        text-align: center;
    }
    section.dark p {
        text-align: left;
    }
    p {
        font-size: 1.0rem;
    }
}

@media all and (max-width: 445px) {
    header img {
        width: 160px;
    }
    header a.donate {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}

@media all and (max-height: 650px) {
    .main-container img {
        display: none;
    }
}